@import url(styles/home.css);

:root {

  /* Escala de Cinza (Base) */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
  
    /* Fontes principais */
    --font-family-base: 'Inconsolata', 'monospace';
    --font-family-subtitle: 'Asap', 'sans-serif';
  
    /* Tamanhos de texto */
    --title-lg-size: 56px;
    --title-md-size: 24px;
    --title-sm-size: 16px;
    --subtitle-size: 20px;
  
    /* Altura de linha */
    --line-height-default: 120%;
  
    /* Pesos */
    --font-weight-bold: bold;
    --font-weight-regular: 400;
  }
  


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'inconsolata', 'Asap', ;
}

body {
    background: var(--gray-200);
    color: var(--gray-600);
}

  
