.perfil_imagem {
  width: 160px;
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: var(--space-lg);
  border: 4px solid var(--perfil-color_accent-color);
  
}

.informacoes h2 {
  font-size: var(--title-md-size);
  margin-bottom: var(--space-sm);
  color: var(--gray-500);
}

/* Links sociais abaixo do nome */
.social-links {
  margin-top: 15px;
  display: flex;
  gap: 18px;
  justify-content: center;
}

.social-links a {
  font-size: 28px;
  color: #dcddde;
  transition: color 0.3s, transform 0.2s;
}

.social-links a:hover {
  color: #5865f2; /* cor destaque estilo Discord */
  transform: translateY(-3px);
}


.titulo {
  width: 800px;
  font-family: var(--font-family-subtitle);
  font-size: var(--title-lg-size);
  font-weight: 700;
  color: var(--gray-600);
  margin-bottom: var(--space-md);
  line-height: 1.2;
}

.descricao {
  max-width: 90vw;
  font-size: var(--subtitle-size);
  max-width: 680px;
  margin: 0 auto var(--space-lg);
  color: var(--gray-500);
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xl);
  background: var(--gray-100);
}

.sobre_button {
  text-decoration: none;
  background-color: var(--accent-color);
  line-height: 1.6;
  color: rgb(121, 18, 18);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: var(--space-lg);
  color: var(--gray-600);
  text-align: center;
  position: relative;
}