.informacoes_container {
    background-image: url('../img/Intro.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    gap: 20px;
}

.perfil_imagem {
    background-size: cover;
    background-position: center;
    width: 112px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.informacoes {
    padding-top: 20px;
    text-align: center;
    color: var(--gray-600);;
}

.titulo{
    font-family: var(--font-family-subtitle);
    font-size: var(--title-lg-size);
    font-weight: var(--font-weight-bold);
    color: var(--gray-600);
}

.descricao{
    font-size: var(--subtitle-size);
    font-weight: var(--font-weight-regular);
    color: var(--gray-500);
    max-width: 680px;
}

.lista-habilidades {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

i{ 
     padding: 10px;
     border-radius: 8px;
     background-color: var(--gray-100);
    
}

