.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    background: var(--cor-preto_escuro);
    padding: 4rem 5%;
    width: 100%;
}

.sobre_conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre_titulo {
    font-size: 1.8rem;
    text-align: center;
}

.sobre_texto {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cor-branco);
    text-align: justify;
}

.sobre_imagem {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--cor-branco);
    box-shadow: 0 0 10px var(--cor-branco);
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .sobre {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 3rem 2rem;
    }
}
