@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* Cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--cor-preto_escuro);
    padding: 1rem 5%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.menu a {
    color: var(--cor-branco);
    text-decoration: none;
    font-weight: 550;
}

.menu a:hover {
    color: var(--cor-verde_neon);
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  text-align: center;
}

.titulo {
    font-size: 2rem;
    text-transform: uppercase;
}

.descricao {
    font-family: monospace;
    font-size: 1.5rem;
    color: var(--cor-verde_neon);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid var(--cor-verde_neon);
    animation: typing 2s steps(23, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 20ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.imagem-perfil {
  margin: 0 auto;
  width: 480px;
  height: px;
  object-fit: cover;
  transform: translateX(1em);
  animation: float 3s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

